.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 200px 0 203px 0;
}
.sub-main {
  display: flex;
  justify-content: center;
  height: 550px;
  width: 35%;
  box-shadow: 11px 12px 13px 12px rgb(200, 192, 192);
  padding-top: 30px;
  border-radius: 60px;
  background-color: white;
  margin-top: -100px;
}

.imgs {
  padding-top: 20px;
  justify-content: center;
  display: flex;
}

.container-image {
  background-color: rgb(223, 221, 221);
  border-radius: 150px;
  align-items: center;
  display: flex;
  height: 130px;
  width: 130px;
}

.profile {
  height: 130px;
  width: 130px;
  border-radius: 150px;
  padding: 10px;
}

input {
  width: 350px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #888;
  border: none;
  outline: none;
  background-color: #fff;
}

.email {
  height: 45px;
  width: 45px;
  position: absolute;
  padding: 15px 0 0 30px;
  margin: -5px;
}

.name {
  padding-left: 70px;
  font-size: 20px;
}

.secondInput {
  padding-top: 20px;
}

.loginButton {
  padding-top: 15px;
}

.link {
  font-size: 20px;
  font-weight: 400;
}

a {
  color: blue;
}
